cmake-build-debug
out
build
CMakeSettings.json
.DS_Store
.vs
.idea
.vscode
.fleet
ext/project_path.hpp
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
soulless
TODO
.ninja_deps
.ninja_log
build.ninja
Testing/
.cmake/
data.json